html, body {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    font-weight: 100;
    font-family: 'Lato';
}

.col-sm-3, .row, .col-sm-9 {
    padding:0;
    margin:0;
}

.content {
    text-align: center;
    display: inline-block;
}

.profilename {
    font-size: 30px;
    text-align: right;
}

.header {
    background-color: #333333;
    color: white;
}

.panelheaders {
    background-color: #6a6a6a !important;
    color: white !important;
}

#map {
        width: 500px;
        height: 400px;
        background-color: #eee;
      }

#map-input {
    margin: 10px;
    font-size: 14px;
}

#accordion {
    margin-top: 10px;
}