html, body {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    font-weight: 100;
    font-family: 'Lato';
}

.col-sm-3, .row, .col-sm-9 {
    padding:0;
    margin:0;
}

.content {
    text-align: center;
    display: inline-block;
}

.profilename {
    font-size: 30px;
    text-align: right;
}

.header {
    background-color: #333333;
    color: white;
}

.panelheaders {
    background-color: #6a6a6a !important;
    color: white !important;
}

a:hover {
    text-decoration: none !important;
}

.location {
    background-color: white;
    font-weight: bold;
    margin-top: 3px;
    margin-bottom:3px;
}

.deleteLocation {
    align-items: left;
    border-radius: 8px;
}

#searchPanel, #routes {
    background-color: #eee;
    margin-top: 5px;
}

/* default style of sidebar route buttons */
.sidebar-row {
  background-color: grey;
  color: white;
  padding: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 5px;
  text-shadow: 2px 2px 4px #000000;
}

/* style of sidebar route buttons when mouse hovering over them */
.sidebar-row:hover {
  background-color: yellowgreen;
  color: white;
}

.sidebar-panel {
  padding: 5px;
}

/* style of currently selected route (only one) */
#active-route {
  background-color: green;
  text-shadow: 2px 2px 4px #000000;
}

#active-route:hover {
  background-color: green;
  color: white;
}

#map {
        width: 500px;
        height: 400px;
        background-color: #eee;
      }

#map-input {
    font-size: 14px;
    width: 100%;
}

#accordion {
    margin-top: 10px;
}

#save-route {
    margin: 5px;
}